/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
/public/.DS_Store
/public/js/app.js
/public/css/app.css
/public/assets/admin/.DS_Store
/public/assets/admin/js/app.js
/public/assets/admin/js/vendor.js
/public/assets/admin/css/app.css
/public/assets/admin/css/vendor.css
/public/fonts/vendor
/public/uploads/
/public/docs/
/.idea
.phpunit.result.cache
